# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.env
.venv

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code
.vscode/

# Data files
dataset/
*.csv
*.tsv
*.xlsx
*.h5
*.db

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment
.env
.env.*
